  .header{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
.one{
    display: flex;
    
   justify-content: flex-end;
   border-bottom: 1px solid #ccc;
}
 .navbar{
    display: inline;
    display:flex;
    justify-content: space-around;


}
.navbar div:hover{
    cursor: pointer;
    background-color: #ccc;
    
}

.container{
    

    background-color: #f1f1f1;
}
.head{
    font-size: 36px;
    font-family: 'Roboto';
}
.font{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #000000;
    margin-top: -65px;
    padding: 10px 0 16px 0px;
}
.cards{
   
    display:flex;
   
}
a{
    color: red;
    font-size: 13px;
    padding-left: 25px;
}
.card{
    margin-right: 15px;
    background-color: white;
}
.card-title{
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    padding-top: 15px;
}
.card-text{
    font-family: 'Open Sans', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    
    font-weight: 400;
    color: #4d4d4d;
    text-align: justify;
    font-size: 13px;
    margin:0 10px 10px 10px;
}
.text{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 36px;
    color: #333333;
    margin-bottom: 75px;
    margin-top: 30px;
}
.section-margin{
    margin-left: 100px;
    margin-right: 100px;
}
.container1{

    margin-left: 100px;
    margin-right: 100px;
}
.query{
    font-size: 200%;
    
    }
    .query1{
    font-size: 150%;
    opacity: 0.3;
    margin-top: -25px;
    }
    
    
    .sub3{
       
        display: flex;
        justify-content: space-around;
        background-color:#ccc;
    }
   

    
    .request-quote:before{
        content: '\2192';
        position:absolute;
        left: 21px;
        top:3px;
        color: white;
        font-size:21px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .button-css{
        background-color: #e73c33;
        color:white;
        border-left: 36px solid #c62622;
        border-top: none;
        border-right: none;
        border-bottom: none;
        padding:4px 10px 4px 9px;
        font-family: 'roboto' , sans-serif;
        font-weight: 300px;
        font-size: 21px;
        outline: none;
       margin-top: 70px;
       margin-left: 170px;

    }
	
	.flex-container{
		display:flex;
		
	}
.part2{
    display:flex;
    
}
.card-img-top{
    margin-left: 30%;
    
}
.end{
    display:flex;
    justify-content: space-around;
    background-color: #ccc;
}
